
<app-header></app-header>

<div class="container">
    <div class="row">
        <div class="col-4">
            <div class="card border-primary mb-3" style="max-width: 18rem;">
                <div class="card-header" routerLink="/productividad" > Productividad </div>
                <div class="card-body text-primary">
                    <h5 class="card-title">Anterior</h5>
                    <app-niveles-chart></app-niveles-chart>
                </div>
                <div class="card-body text-primary">
                    <h5 class="card-title">Actual</h5>
                    <app-niveles-chart></app-niveles-chart>
                </div>

                <div class="row">
                    <div class="col-2 m-2 ml-2">
                        <button type="button" class="btn btn-primary btn-sm">HU estimada</button>
                    </div>
                    <div class="col-2 m-2 ml-4">
                        <button type="button" class="btn btn-primary btn-sm">HU completada</button>
                    </div>

                    <div class="col-2 m-2 ml-5">
                        <button type="button" class="btn btn-primary btn-sm">HU estimada</button>
                    </div>
                </div>


            </div>
        </div>
        <div class="col-4">
            <div class="card border-primary mb-3" style="max-width: 18rem;">
                <div class="card-header">Nivel de Satisfacción</div>
                <div class="card-body text-primary">
                    <h5 class="card-title">Primary card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card border-primary mb-3" style="max-width: 18rem;">
                <div class="card-header">Calidad</div>
                <div class="card-body text-primary">
                    <h5 class="card-title">Primary card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                </div>
            </div>
        </div>
    </div>
</div>